/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
public/data_file/ktm.jpg
public/data_file/shot_1_165_01a_cmyk-gq-28jun17-carter-smith_b-1.jpg
